/* index.css or App.css */
body {
    margin: 0;
    padding: 0;
    background-color: #0F1014; /* deep dark */
    color: #ffffff; /* light text */
    font-family: 'Segoe UI', sans-serif;
  }
  @tailwind base;
  @tailwind components;
  @tailwind utilities;
  